.footer-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "KorailFont";
}

.footer-home-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  font-size: 3.8rem;
}

.footer-home-text {
  margin-left: 1rem;
}

.footer-number-container {
  text-align: right;
}

.footer-number {
  margin-right: 3rem;
}
