.mekeypagetext1 {
    font-size: larger;
    text-align: start;
    position: absolute;
    width: 400px;
    height: 150px;
    left: 32%;
    top: 320px;
    font-family: "KorailFont";
    font-size: 20px;
}

.mekeypagebox1 {
    position: absolute;
    border-radius: 10%;;
    top: 400px;
    left: 40%;
    border: 1px grey;
    width:150px;
    height:80px;
    background-color: #33907C;
}

.mekeypagetext2 {
    position: absolute;
    top: 30px;
    left:38%;
    font-family: "KorailFont";
    font-size: 20px;
}