.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.user-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.password-container {
  margin-top: 1.5rem;
}

.keypad-container {
  margin-top: 3rem;
  text-align: center;
}
