.namestyle {
    font-size: 0.4rem;
    color:#112D4E;
}
.namestyle2{
    font-size:0.3rem;
    color:black;
}
.mileimg {
    width: 2.1rem;
    height: 2.1rem;
}
.mileagebtntext{
    color: aliceblue;
    font-size: 1rem;
}

.modaltext1 {
    position: absolute;
    top:6%;
    left:30%;
}

.modaltext2 {
    position: absolute;
    top:18%;
    left:10%;
    font-size: 12px;
    color:gray;
}

.modaltext3 {
    position: absolute;
    top:18%;
    left:23%;
    font-size: 12px;
    color: gray;
}

.modaltext4 {
    position: absolute;
    top:18%;
    left:36%;
    font-size: 12px;
    color: gray;
}

.modaltext2.selected {
    color:black
}

.modaltext3.selected {
    color:black
}

.modaltext4.selected {
    color:black
}

.mileagecontent {
    position: absolute;
    top:30%;
    left:10%;
}

.pointtext {
    position: relative;
    top:25%;
}

.pointtext1 {
    font-size: 8px;
}