.footerhomeicon {
    position: absolute;
    left: 7%;
    top: 90%;
    bottom: 3%;
    color:aliceblue;
}

.footercaricon {
    position: absolute;
    left: 30.75%;
    top: 90%;
    bottom: 3%;
    color:aliceblue;
}

.footermessageicon {
    position: absolute;
    left: 54.5%;
    top: 90.5%;
    bottom: 3%;
    color:aliceblue;
}

.footeraccounticon {
    position: absolute;
    left: 78.25%;
    top: 90.5%;
    bottom: 3%;
    color:aliceblue;
}

.footer_box {
    position: absolute;
    top:87%;
}

.footerlogo {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 43%;
    top: 76%;
    }