.logo {
    position: absolute;
    width: 20%;
    height: 10%;
    left: 40%;
    top: 90%;
    }



.id {
    position: absolute;
    top:28%;
    left:20%
}

.pw {
    position: absolute;
    top:36%;
    left:18%;
    width: 65%;
}

.autologin {
    position: absolute;
    top:45%;
    left:20%;
}

.loginbox2 {
    position: absolute;
    width: 200px;
    height: 45px;
    left: 26%;
    top: 53%;
    
    background: #33907C;
    opacity: 0.8;
    border-radius: 32px;
}


.loginbox1 {
    position: absolute;
    width: 200px;
    height: 45px;
    left: 26%;
    top: 53%;
    background: #111111;
    opacity: 0.25;
    border-radius: 32px;
}

.text1 {
    position: absolute;
    top:10px;
    left:30%;
    color: aliceblue;
    font-size: 25px;
}

.findidbtn {
    position: absolute;
    top:60%;
    left:25%;
}

.findpwbtn {
    position: absolute;
    top:60%;
    left:50%;
}

.findsignupbtn {
    position: absolute;
    top:79%;
    left:60%;
}

.findsignup {
    position: absolute;
    top:80%;
    left:20%;
}


.password2btn {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 35%;
    top: 240px;
    
    background: #33907C;
    opacity: 1;
    border-radius: 32px;
}

.password3btn {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 35%;
    top: 100px;
    
    background: #33907C;
    opacity: 1;
    border-radius: 32px;
}

.installbtn {
    position: absolute;
    top:10%;
    left:10%;
}