.logo {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 40%;
    top: 560px;
    }

.id {
    position: absolute;
    top:130px;
}


.pw {
    position: absolute;
    top:140px;
}

.autologin {
    position: absolute;
    top:260px;
    left:16%;
}

.loginbox2 {
    position: absolute;
    width: 200px;
    height: 45px;
    left: 20%;
    top: 330px;
    
    background: #33907C;
    opacity: 0.8;
    border-radius: 32px;
}


.loginbox1 {
    position: absolute;
    width: 200px;
    height: 45px;
    left: 20%;
    top: 330px;
    
    background: #111111;
    opacity: 0.25;
    border-radius: 32px;
}

.text1 {
    position: absolute;
    top:10px;
    left:30%;
    color: aliceblue;
    font-size: 25px;
}

.findidbtn {
    position: absolute;
    top:260px;
    left:30px;
}

.findpwbtn {
    position: absolute;
    top:260px;
    left:40px;
}

.findsignupbtn {
    position: absolute;
    top:380px;
    left:-30px;
}

.findsignup {
    position: absolute;
    top:517px;
    left:50px;
}


.password2btn {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 35%;
    top: 240px;
    
    background: #33907C;
    opacity: 1;
    border-radius: 32px;
}

.password3btn {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 35%;
    top: 100px;
    
    background: #33907C;
    opacity: 1;
    border-radius: 32px;
}