.mainlogo {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 30%;
    top: 40%;
    }

/* main.css에 로고 애니메이션에 필요한 스타일을 추가합니다. */
.logo-transition-enter {
    transform: scale(1);
    opacity: 1;
  }
  
  .logo-transition-enter-active {
    transition: opacity 500ms, transform 500ms;
    opacity: 0;
    transform: scale(0.8);
  }
  
  .logo-transition-exit {
    opacity: 0;
    transform: scale(0.8);
  }
  
  .logo-transition-exit-active {
    transition: opacity 500ms, transform 500ms;
    opacity: 1;
    transform: scale(1);
  }