.custom-chat-container {
  height: calc(100% - 4.9rem);
}
.custom-chat-container .cs-message-list {
  margin-top: 2.8rem;
  background-color: rgb(187, 186, 186);
}
.custom-chat-container .cs-message.cs-message--outgoing.cs-message--single:not(:first-child) {
  margin-bottom: 0;
}

.custom-chat-container .cs-message.cs-message--outgoing.cs-message--single .cs-message__content {
  background-color: bisque;
}

.cs-message.cs-message--incoming.cs-message--single .cs-message__content{
  background-color: aqua;
}
