.ParkinglotBox {
    position: absolute;
    top:8rem;
    left:0rem;
    margin: 0;
}

.parkinglot-main-text {
    text-align:start;
    margin-top: 2rem;
}

.parkinglot-main-username {
    display: inline-flex;
}
