.pw-change-container {
  display: inline-block;
  margin-top: 6.5rem;
  width: 75%;
  text-align: center;
}

.original-pw-container,
.new-pw-container,
.new-pw-check-container {
    position: relative;
}

.new-pw-container,
.new-pw-check-container {
  margin-top: 1.5rem;
}

.pw-change-button-container {
  margin-top: 2rem;
}