.update-account-header-container {
  width: 100%;
  height: 9rem;
  background-color: #006DD1;
  border-radius: 0 0 0 2.5rem;
}

.update-account-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-account-info-container {
  font-size: 1.1rem;
}

.input-container {
  margin-top: 1.8rem;
}