.main-info-text {
  color: white;
}

.user-profile-container {
  margin-top: 5.3rem;
  text-align: center;
}

.user-img-container {
  display: inline-block;
  width: 5rem;
}

.user-text-container {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.user-update-container {
  display: inline-block;
  width: 20rem;
  text-align: left;
}

.update-header-container {
  font-size: 1.1rem;
}

.update-text-container {
  margin-top: 1.3rem;
  margin-bottom: 1.2rem;
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: #f7f7f7;
}

.update-phone-number-container,
.update-car-number-container,
.update-villa-number-container,
.update-easy-pw-container {
  margin-top: 0.85rem;
}