.main-info-text {
  color: white;
}

.user-profile-container {
  margin-top: 5.3rem;
  height: 10rem;
  /* border: 1px solid black; */
  text-align: center;
}

.user-img-container {
  display: inline-block;
  width: 5rem;
}

.user-text-container {
  margin-top: 0.7rem;
}

.user-update-container {
  display: inline-block;
  width: 80%;
  height: 20rem;
  border: 1px solid black;
  text-align: left;
}

.user-update-text-container {
  margin-top: 1rem;
}

.update-pw-container {
  display: flex;
  align-items: center;
}

/* .user-info-box {
  display: inline-block;
  margin-top: 5.3rem;
  width: 90%;
  height: 7rem;
  background-color: #dadada;
  border-radius: 1rem;
}

.user-info-flex-container {
  display: flex;
  height: 100%;
  align-items: center;
}

.user-img-container {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 1.2rem;
}

.user-info-container {
  margin-left: 1rem;
} */

/* 
.updateidstyle {
    font-size: 20px;
    position: absolute;
    top:37%;
    left:120%;
}

.Loginoutbtn {
    position: absolute;
    width: 100px;
    height: 20px;
    left: 38%;
    top: 73%;
    background:#33907C;
    opacity: 0.8;
    border-radius: 32px;
}

.Loginoutbtntext{
position: absolute;
top:20%;
left:20%;
color: aliceblue;
font-size: 15px;
}

.Signoutbtn {
    position: absolute;
    width: 100px;
    height: 20px;
    left: 64%;
    top: 11%;
    background:red;
    opacity: 0.6;
    border-radius: 32px;
}

.Signoutbtntext{
position: absolute;
top:20%;
left:20%;
color: aliceblue;
font-size: 15px;
}

.updatemodaltext1 {
    position: absolute;
    top:6%;
    left:30%;
}


.updatepw {
    position: absolute;
    top:30%;
    left:8%
}

.updatepw1 {
    position: absolute;
    top:30%;
    left:48%
}

.updatephonenumber {
    position: absolute;
    top:37%;
    left:8%
}

.updatephonenumber1 {
    position: absolute;
    top:37%;
    left:48%
}

.updatecarnumber {
    position: absolute;
    top:45%;
    left:8%
}

.updatecarnumber1 {
    position: absolute;
    top:45%;
    left:48%
}

.updatehousenumber {
    position: absolute;
    top:51%;
    left:8%
}

.updatehousenumber1 {
    position: absolute;
    top:51%;
    left:48%
}

.updateeasypwnumber {
    position: absolute;
    top:58%;
    left:8%
}

.updateeasypwnumber1 {
    position: absolute;
    top:58%;
    left:48%
}

.editnote1 {
    position: absolute;
    top:30%;
    left:84%;
}
.editnote2 {
    position: absolute;
    top:37%;
    left:84%;
}
.editnote3 {
    position: absolute;
    top:44%;
    left:84%;
}
.editnote4 {
    position: absolute;
    top:51%;
    left:84%;
}
.editnote5 {
    position: absolute;
    top:58%;
    left:84%;
}

.userinfobox {
    position: absolute;
    border: 1px solid gray;
    width: 92%;
    height: 50%;
    opacity: 0.2;
    border-radius: 1rem;
    top:27%;
    left:4%
}

.userinfobox0 {
    position: absolute;
    background-color: gray;
    width: 92%;
    height: 13%;
    border-radius: 1rem;
    top:11%;
    left:4%
}

.myinfoupdatetext {
    color: white;
}

.updatemodal1 {
    z-index: 1;
}

.updatephonenumbermodal {
    position: absolute;
}

.updatephonetext1 {
    margin-top: 3%;
    margin-left: 1%;
    font-size: 10px;
}

.updatephonenumberbtn1 {
    width: 80px;
    height: 30px;
    margin-top: 3%;
    background-color: #33907C;
    opacity: 1;
    border-radius: 32px;
}

.updatephonenumberbtn1text {
    color: aliceblue;
    font-size: 18px;
}

.updatephonecheckingbtn {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 30%;
    top: 70%;
    background: #33907C;
    opacity: 1;
    border-radius: 32px;
} */
